<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Socket.io-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE093D301FDA64ED005ACC17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE093D3E1FDA655C005ACC17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE96C60A1FD454FD00F3F31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE96C6221FD454FE00F3F31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE96C62D1FD454FE00F3F31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
